* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: Verdana, "Times New Roman", Arial, sans-serif;
}

h1 {
    text-align: center;
}

#error_details {
    margin: 2%;
    float: left;
    width: 19%;
}

#error_details ul {
    padding: 30px;
}

#error_details ul * {
    padding: 10px;
}

.button {
    width: 300px;
    height: 80px;
    margin: 10px 10px;
    font-size: 20px;
    color: #555555;
    cursor: pointer;
}

#wrapper {
    max-width: 1388px;
    margin: auto;
}

#image {
    width: 61%;
    max-width: 100%;
    float: right;
}

img {
    width: 100%;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}