* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font: 18px/1.5 "Times New Roman", Verdana, Arial, sans-serif;
    color: #5f5f5f;
    background: #0ca3d2;
}

#form {
    width: 420px;
    background: #f0f0f0;
    border: 1px solid #003D6C;
    margin: 20px auto;
    padding: 20px 40px;
}

#form_title {
    color: #696969;
    font-size: 25px;
    border-bottom: 1px solid #b6b6b6;
    margin-bottom: 10px;
}

.row {
    padding: 5px 0;
}

p {
    margin-top: 15px;
    margin-bottom: 5px;
}

.row input {
    width: 380px;
    height: 30px;
    padding: 0 5px;
    font: 15px "Times New Roman", Verdana, Arial, sans-serif;
    color: #555555;;
    border: 1px solid #b6b6b6;
}

button {
    padding: 10px 30px;
    border: none;
    color: #555555;
    cursor: pointer;
}

button:hover {
    background: #F8F8F8;
}

span {
    color: #F91F1F;
    font-size: 15px;
}

#back_button {
    float: right;
    margin-top: -47px;
    border: 1px solid #b6b6b6;
}

#phone {
    width: 338px;
    margin-left: 5px;
}

#header {
    text-align: center;
    margin: 50px;
    padding: 10px;
    color: #555555;
}

#header h1 {
    font-size: 48px;
    margin: 5px;
}

#header h2 {
    font-size: 32px;
    margin: 5px;
}

#sign_in_button {
    margin-top: 70px;
    float: left;
}

#to_start_page_button {
    margin-top: 70px;
    float: right;
}

#sign_in_button, #to_start_page_button {
    width: 45%;
    height: 20%;
    padding: 10px;
    font-size: 35px;
}

#main_wrapper {
    max-width: 1388px;
    margin: auto;
}

#wrapper {
    width: 60%;
    margin: auto;
}

#sign_up_button {
    font-size: 18px;
    width: 100%;
}